<div>

    <form class="content" (ngSubmit)="registraVisita()" >
    <div class="submit-form" >
  
        <div class="row">
            <div class="col-lg-12" style="margin-bottom: -2%;">
                <h4>Registro de Visitantes: </h4>
            </div>
        </div>
  
        <div class="row" style="margin-top: 3%">
        <div class="col-lg-3">
            <label for="Nombre">Nombre</label>
            <input type="text"  class="form-control" id="nombre"  name="nombre" maxlength="40" required title="Es obligatorio" [(ngModel)] = "visitante.nom_vis"/>
        </div>
    
        <div class="col-lg-3">
            <label for="Apellido">Apellido</label>
            <input type="text"  class="form-control" id="apellido"  name="apellido" maxlength="40" [(ngModel)] = "visitante.ape_vis"/>
        </div>

        <div class="col-lg-3">
            <label for="fechanac_vis">Fecha Nacimiento</label>
            <input type="date" class="form-control" name="fechanac_vis" id="fechanac_vis"  [(ngModel)] = "visitante.fechanac_vis" /> 
        </div>
        

        <div class="col-lg-3">
            <label for="dni_vis">DNI</label>
            <input type="text"  class="form-control" id="dni_vis"  name="dni_vis" maxlength="8" [(ngModel)] = "visitante.dni_vis"/>
        </div>

        <div class="col-lg-4" style="margin-top: 2%">
            <label for="correo_vis">Correo electronico</label>
            <input type="email"  class="form-control" id="correo_vis"  name="correo_vis" [(ngModel)] = "visitante.correo_vis"/>
        </div>

        <div class="col-lg-4" style="margin-top: 2%">
            <label for="tel_vis">Telefono</label>
            <input type="text"  class="form-control" id="tel_vis"  name="tel_vis" maxlength="9" [(ngModel)] = "visitante.tel_vis"/>
        </div>
        
        <div class="col-lg-4" style="margin-top: 2%">
        <label for="cod_dep"  >Departamento</label>
            <select  id="cod_dep" name="cod_dep" class="form-control"  [(ngModel)] = "visitante.cod_dep!.cod_dep">
                <option value="-1"> [Seleccione departamento] </option>   
                <option *ngFor="let aux of departamentos" value="{{aux.cod_dep}}">
                    {{aux.num_dep}}
                </option>   
            </select>
        </div>
            
        </div>

        
        
  
        <div class="row" style="margin-top: 4%"> 
                <div class="col-lg-12">
                    <button class="btn btn-success"  >REGISTRAR</button>
                </div>
        </div>
    
      </div>
      <div class="row" *ngIf="visitantes.length != 0" style="margin-top: 3%">
        <div class="col-md-12">
          <div class="content">               
            <table id="id_table" class="table table-striped table-bordered table-responsive"><thead>
                <tr style="color: white;">      
                  <th style="width: 30%">Fecha Visita</th>
                  <th style="width: 15%">Nombre</th>
                  <th style="width: 10%">Apellido</th>
                  <th style="width: 30%">Dni</th>
                  <th style="width: 30%">Correo</th>
                  <th style="width: 30%">Telefono</th>
                  <th style="width: 30%">Departamento</th>
                  <th style="width: 30%">Usuario</th>
                </tr>
              </thead> <tbody>
                <tr *ngFor="let aux of visitantes" style="color: white;">    
                  <td>{{ aux.fech_vis }}</td>
                  <td>{{ aux.nom_vis }}</td>
                  <td>{{ aux.ape_vis }}</td>
                  <td>{{ aux.dni_vis }}</td>
                  <td>{{ aux.correo_vis }}</td>
                  <td>{{ aux.tel_vis }}</td>
                  <td>{{ aux.cod_dep!.cod_dep }}</td>
                  <td>{{ aux.usuario!.email_usu }}</td>
                </tr></tbody></table>
          </div>
        </div>
    </div>

    </form>
  
</div>