<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Cibertec</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Cliente
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a routerLink="registraCliente" class="dropdown-item">Crear cliente</a>
            <a routerLink="consultaCliente" class="dropdown-item">Consulta cliente</a>
            <a routerLink="crudCliente" class="dropdown-item">Crud cliente</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Marca
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a routerLink="registraMarca" class="dropdown-item">Crear marca</a>
            <a routerLink="consultaMarca" class="dropdown-item">Consulta marca</a>
            <a routerLink="crudMarca" class="dropdown-item">Crud marca</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
          Producto
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a routerLink="registraProducto" class="dropdown-item">Crear producto</a>
            <a routerLink="consultaProducto" class="dropdown-item">Consulta producto</a>
            <a routerLink="crudProducto" class="dropdown-item">Crud producto</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
          Proveedor
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a routerLink="registraProveedor" class="dropdown-item">Crear proveedor</a>
            <a routerLink="consultaProveedor" class="dropdown-item">Consulta proveedor</a>
            <a routerLink="crudProveedor" class="dropdown-item">Crud proveedor</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
          Reclamo
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a routerLink="registraReclamo" class="dropdown-item">Crear reclamo</a>
            <a routerLink="consultaReclamo" class="dropdown-item">Consulta reclamo</a>
            <a routerLink="crudReclamo" class="dropdown-item">Crud reclamo</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
          Sede
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a routerLink="registraSede" class="dropdown-item">Crear sede</a>
            <a routerLink="consultaSede" class="dropdown-item">Consulta sede</a>
            <a routerLink="crudSede" class="dropdown-item">Crud sede</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
          Pedido
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a routerLink="registraPedido" class="dropdown-item">Registra Pedido</a>
            <a routerLink="consultaPedido" class="dropdown-item">Consulta Pedido</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
          Comprobante
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a routerLink="registraComprobante" class="dropdown-item">Registra Comprobante</a>
            <a routerLink="consultaComprobante" class="dropdown-item">Consulta Comprobante</a>
          </div>
        </li>

      </ul>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
