<div>
    <form class="content" (ngSubmit)="registraVisita()">
        <div class="submit-form">

            <div class="row">
                <div class="col-lg-12" style="margin-top: 1.5%">
                    <h4>Registro de Visita</h4>
                </div>
            </div>

            <div class="row" style="margin-top: 3%">
                <div class="col-lg-4">
                    <label for="dni">DNI</label>
                    <input type="text" class="form-control" name="dni" readonly [(ngModel)]="visitareg.visita!.dni_vis" />
                </div>
                <div class="col-lg-2">
                    <br>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalBuscar" data-backdrop="false" data-dismiss="modal">
                        Buscar
                    </button>
                </div>
            </div>

            <div class="row" style="margin-top: 3%">
                <div class="col-lg-4">
                    <label for="visitante">Visitante</label>
                    <input type="text" class="form-control" name="visitante" readonly [(ngModel)]="visitareg.visita!.nom_vis" />
                </div>
            </div>

            <div class="row" style="margin-top: 3%">
                <div class="col-lg-3">
                    <label for="fecha_ingreso">Hora Ingreso</label>
                    <input type="time" class="form-control" name="fecha_ingreso" id="fecha_ingreso" [(ngModel)]="auxFechaIng" />
                </div>
            </div>

            <div class="row" style="margin-top: 3%">
                <div class="col-lg-3">
                    <label for="fecha_salida">Hora Salida</label>
                    <input type="time" class="form-control" name="fecha_salida" readonly id="fecha_salida" [(ngModel)]="visitareg.fech_sal_visreg" />
                </div>
            </div>

            <div class="row" style="margin-top: 3%">
                <div class="col-lg-6">
                    <label for="propietarios">Visita a</label>
                    <select id="propietarios" name="propietarios" placeholder="Selecione edificio" class="form-control" [(ngModel)]="visitareg.propietario!.cod_prop">
                        <option value="-1"> [Seleccione] </option>   
                        <option *ngFor="let aux of propietarios" value="{{aux.cod_prop}}">
                            {{aux.nom_prop}}
                        </option>   
                    </select>
                </div>
            </div>

            <div class="row" style="margin-top: 3%">
                <div class="col-lg-12">
                    <button class="btn btn-success">Registrar</button>
                </div>
            </div>

        </div>

    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="modalBuscar" tabindex="-1" aria-labelledby="modalBuscarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBuscarLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>